<aside class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a class="sidebar-link sidebar-link" href="/" aria-expanded="false"
            ><i class="fas fa-newspaper"></i
            ><span class="hide-menu">News Feed</span></a
          >
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link sidebar-link"
            href="/community"
            aria-expanded="false"
            ><i class="fas fa-sticky-note"></i
            ><span class="hide-menu">Community Feed</span></a
          >
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link has-arrow"
            href="javascript:void(0)"
            aria-expanded="false"
            ><i class="fas fa-wrench"></i
            ><span class="hide-menu">Tools </span></a
          >
          <ul
            aria-expanded="false"
            class="collapse first-level base-level-line"
          >
            <li class="sidebar-item">
              <a href="/fd" class="sidebar-link"
                ><span class="hide-menu"> FD Calculator </span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="/sip" class="sidebar-link"
                ><span class="hide-menu"> SIP Calculator </span></a
              >
            </li>
            <li class="sidebar-item">
              <a href="#" class="sidebar-link"
                ><span class="hide-menu"> Dream Come True Calculator </span></a
              >
            </li>
          </ul>
        </li>

        <li class="sidebar-item">
          <a
            class="sidebar-link sidebar-link"
            href="/login"
            onclick="signOut()"
            aria-expanded="false"
            ><i data-feather="log-out" class="feather-icon"></i
            ><span class="hide-menu">Logout</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
